#Ignore MC root files
*.root
#ignore binaries
lib/*
bin/*

#local backups
*~
#objects
*.o

#build
packages/Common/build
packages/ReconstructionNew/build
packages/Simulation/build
packages/MarocAnalysis/build
