#Ignore MC root files
*.root
#ignore binaries
lib/*
bin/*

#sim macros and script
macro*.run
run_*.csh
#local backups
*~
#objects
*.o
#farm logs
log*.o
log*.e

#build
packages/Common/build
packages/ReconstructionNew/build
packages/Tofpet/build
packages/Simulation/build
packages/MarocAnalysis/build

#eclipse
eclipse/*
.project
.cproject
