#Ignore MC root files
*.root
#ignore binaries
lib/*
bin/*
#ignore build folders
build/

#sim macros and script
macro*.run
run_*.csh
#local backups
*~
#objects
*.o
#farm logs
log*.o
log*.e


#eclipse
eclipse/*
.project
.cproject
